{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
{% endblock %}

{% block title %}
  {{ parent() }} - Bienvenue
{% endblock %}

{% block body %}
<div class="container">
    <h1>Les dernières news</h1>

    {{ form(newsletterForm) }}

    <div class="d-flex flex-wrap justify-content-around">
      {% for article in articles %}
        {{ include('index/article_list_item.html.twig', { article: article }) }}
      {% endfor %}
    </div>
</div>
{% endblock %}
